<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Go-Fetch (Good dog)</title>
    </head>
    <body>
        <form action="/">
            <input name="q" type="search"/>
            <button type="submit">Search</button>
        </form>
        <main id="results">
            {{#each results}}
                <div>
                    {{name}}({{#each arguments}}{{0}}&nbsp;{{1}}, {{/each}}) {{returns}}
                </div>
            {{/each}}
        </main>
    </body>
</html>
