<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf8">
	<title>Gopher Headlight</title>
    </head>
    <body>
        <img src="goheader.png" id="header" alt="gopher"/>
        <div id="topDiv" style="">
            <div id="upper">
                <input type="search" id="searchField" name="search"
                    placeholder="func (r Response) read(String) String"
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false">
            </div>
            <div id="lower">
                <button id="searchButton">Go search!</button>
            </div>
        </div>

        <div id="results">
        </div>

        <div id="footer">
            A project for DD2476<br>&copy; 2017
        </div>
        <script>
            var searchContent = ""; // last search string
            var results = []; // search results

            // grabs the text from the search field and performs a search if necessary and then stages the results
            function loadResults() {
                var newSearch = document.getElementById("searchField").value;
                searchContent = newSearch;
                if(newSearch == "") {
                    newSearch = document.getElementById('searchField').getAttribute('placeholder');
                }
                console.log(newSearch);
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        try {
                            results = JSON.parse(xhttp.responseText).results;
                            setContent();
                        } catch (e) {
                        }
                    }
                };
                //xhttp.open("GET", "http://search.considerate.se/?q=" + newSearch, true);
                xhttp.open("GET", "/search?q=" + newSearch, true);
                xhttp.send();
            }

            function getResultBlock(resultNo, name, objects, parameters, returns, link) {
                string = "func ";
                if(objects.length > 0) {
                    string += "(";
                    for(var i = 0; i < objects.length; ++i) {
                        if(i > 0) string += ", ";
                        string += objects[i][0] + " ";
                        string += objects[i][1];
                    }
                    string += ") ";
                }
                string += name;
                string += "(";
                if(parameters.length > 0) {
                    for(var i = 0; i < parameters.length; ++i) {
                        if(i > 0) string += ", ";
                        string += parameters[i][0] + " ";
                        string += parameters[i][1];
                    }
                }
                string += ") ";
                if(returns.length > 0) {
                    string += "(";
                    for(var i = 0; i < returns.length; ++i) {
                        if(i > 0) string += ", ";
                        string += returns[i][0] + " ";
                        string += returns[i][1];
                    }
                    string += ") ";
                }
                return '<div><p>' + (resultNo + 1) + '. ' + string + '</p><a href="' + link + '">' + link + '</a></div>';
            }

            // sets the contents of the search results, if any query has been entered
            function setContent() {
                if(searchContent != "") {
                    document.getElementById("results").innerHTML = "";
                    res = "";
                    console.log(results);
                    for(var i = 0; i < results.length; ++i) {
                        res += getResultBlock(i, results[i].name || '', results[i].object || [], results[i].parameters || [], results[i].result || [], results[i].uri || '');
                    }
                    document.getElementById("results").innerHTML = res;
                    document.getElementById("results").style.display = "block";
                    if(results.length === 0) document.getElementById("results").innerHTML = '<p id="error">NO results, please try again...</p>';

                }
                else document.getElementById("results").style.display = "none";
            }

            // catch enter keys from search field and click button if one occurs
            function enterKey(event) {
                event.preventDefault();
                if (event.keyCode == 13) {
                    document.getElementById("searchButton").click();
                    document.getElementById("searchField").blur();
                }
            }

            setContent();
            document.getElementById("searchButton").addEventListener('click', loadResults);
            document.getElementById("searchButton").addEventListener('mouseover', function() { this.style.backgroundColor = "#13626c"; });
            document.getElementById("searchButton").addEventListener('mouseout', function() { this.style.backgroundColor = "#a8e7f0"; });
            document.getElementById("searchButton").addEventListener('mousedown', function() { this.style.backgroundColor = "black"; });
            document.getElementById("searchButton").addEventListener('mouseup', function() { this.style.backgroundColor = "#13626c"; });
            document.getElementById("searchField").addEventListener("keyup", enterKey);
        </script>
    </body>

</html>

